:root{
    --primary_color : rgb(255, 34, 0);
    --secondary_color : rgb(0, 48, 144);
}
body{
    font-weight: 800;
}
.ticker{height: 35px;}

.facebook_page{
    width: 100%;
    height: 15rem;
    background-color: wheat;
    overflow: hidden;
}
.footer-tittle li a{
    font-weight: 400;
}
.ftw400{
    font-weight: 400;
}
.cursor{
    cursor: pointer;
}
.page_show{
    width: 100%;
    height: 12rem;

}
.latest_news{
    font-weight: 800;
    color: rgb(255, 255, 255);
    font-size: 20px;
    background-color: var(--primary_color);
    padding: 8px 15px 8px 15px;
    border-radius: 3px;
   
}
.tranding_text_box{
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: 900;
}
.tipni{color: white;}
.text_title_h1{font-weight: 900;  color: var(--secondary_color);}
.np-trand-sub-tex{font-size: 22px; font-weight: 400; margin-top: 24px; margin-bottom: 24px; text-align: center; opacity: 68;}
.border__{
    /* border-top: 1px solid rgb(190, 190, 190); */
    border-bottom: 1px solid rgb(190, 190, 190);
}

.text_limit {overflow: hidden; display: -webkit-box; text-overflow: ellipsis;word-wrap: break-word; -webkit-line-clamp: 2; line-clamp: 2;-webkit-box-orient: vertical;line-height: 1.8em;
 }

 .action_btn {
    background: none;
    border: none;
    cursor: pointer;
    color: black;
}
.action_btn:hover {
    transform: scale(1.2);
}

a:hover{
    color: var(--primary_color);
}
.side_nav_bar{
    display: none;
    width: 18rem;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 2px 13px rgb(229, 228, 228);
    color: black;
    position: fixed;
    z-index: 99;
    overflow: hidden;
    right: 0;
    transition: all 0.5s;
}
.top_logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5rem;
}
.top_logo img{height: 4rem; background-color: white; border-radius: 5px;}
.category_side{
   margin-left: 2rem;
   margin-right: 2rem;
}
.category_side a{color: var(--secondary_color);}

.category_side .categro_item{
    color: black;
    width: 100%;
    background-color: rgb(244, 244, 244);
    padding: 12px;
    margin-bottom: 8px;
    border-radius: 3px;
    cursor: pointer;
}
.category_side .categro_item:hover {
    background-color: var(--secondary_color);
    a{
        color: white;
    }
}
.profile{
    background-color: var(--secondary_color);
    padding: 12px;
    margin-bottom: 8px;
    border-radius: 3px;
    cursor: pointer;
}
.side_icon__{
    background-color: rgb(19, 39, 56);
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
}

.header-bottom{
    justify-content: space-between;
    justify-content: space-around;
    align-items: center;
    background-color: var(--secondary_color);
    height: auto;
    color: white;
 
}
.m_enu{
    width: 100%;
    height: 4rem;
}
.category_manu a{
    font-weight: 900;
    font-size: 20px;

}
.header-area .slicknav_btn {
    /* top: -35px; */
    right: 17px;
}

.main-header .main-menu ul li a {color: rgb(255, 255, 255); font-size: 17px; font-weight: 800;}

.top-h_n{
    border-top: 1px solid rgb(209, 209, 209);

}
.head_b h1{
    font-size: 3.5rem;
    font-weight: 900;
}
.author_image{
    width: 42px; height: 42px; border-radius: 50%;
    margin: 10px;

}
.h1f{font-weight: 900;}
.aligment{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-logo{
    overflow: hidden
}
.logo_{
    width: auto;
    height: 4.5rem;
}
.bg_l{background-color: white; border-radius: 3px; padding: 5px; height: 3rem; margin-top: 5px;}
.icon{
    color: var(--primary_color);
}


.footer-area .footer-social a i {
    color: white;
}
.user_border{
    border: 1px solid white;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.side_bar_ads{
    width: 100%;
    height: auto;
}
.date_pos_show{
    font-size: small;
}
.modal-header{
    background-color: var(--secondary_color);
    color: white;
    display: flex;
    justify-content: center;
}
.modal-header h4{
    color: white;
}
.news_box{
    width: auto;
    height: auto;
    min-width: 15rem;
    
}
.tranding_image{
    width: 100%;
    height: 100%;
    max-height: 650px;
    object-fit: cover;
    border-radius: 5px;
}

.side_post_img{
    width: 70px;
    height: 76px;
    object-fit: cover;
}
.news_box{
    background-color: white;
    /* width: 100%; */
    height: 25rem;
    border: 1px solid rgb(230, 229, 229);
    overflow: hidden;
    border-radius: 5px;
    object-fit: cover;

}
.news_box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    transition: all 0.5s;
}

.text_side{
    width: 100%;
    position: absolute;
    top: 80%;
    color: white;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 10px;
    padding-bottom: 10px;
}
.text_side h1{font-size: 25px;  color: white;}

.news_box::before{
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.937), rgba(0, 0, 0, 0.68), transparent, transparent, transparent);
    z-index: 1;
}
.height_25{
    height: 25rem;
}
.swiper {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .swiper-slide {
    /* background: #fff; */
    padding-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.dark-bg{
    color: white;
    background-color: rgba(7, 25, 51, 0.864);
}  
.yelgray-bg{
    color: white;
    background-color: rgba(30, 51, 7, 0.864);
}  
.back_ground_box{
    background-color: var(--primary_color);
    width: auto;
    padding: 10px;
    color: white;
    font-weight: 900;
    border-radius: 3px;
    font-size: large;
}
.back_ground_box:hover{color: white;}
.btn-border{
    border-bottom: 4px solid var(--primary_color);
    margin-bottom: 1px;
}
.more{
    float: right;
    background-color: gray;
    width: auto;
    padding: 5px;
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
   
}
.single-post{
    overflow: hidden;
}
.h_auto{
    width: auto;
}
.recent_post_text{font-size: large;}
.recent_p_h{
    font-size: medium;
}

.what-cap__{
    padding: 10px 20px 10px 15px;
    background: #fffdfd;
    box-shadow: 1px 1px 5px 1px rgba(194, 198, 253, 0.316);
    position: absolute;
    bottom: 10px;
    width: 80%;
    margin-left: 5px;
    border-radius: 0 7px 0 7px;
    -webkit-transition: all .4s ease-out 0s;
    -moz-transition: all .4s ease-out 0s;
    -ms-transition: all .4s ease-out 0s;
    -o-transition: all .4s ease-out 0s;
    transition: all .4s ease-out 0s;
}
.what-cap__ h4{
    font-size: large;
    margin-top: 20px;
    font-weight: bold;
}

.p-title_size{
    font-size: 12px;
}
.h15{
    height: 20rem;
}
.post_img_box{
    width: 100%;
    max-height: 30rem;
    overflow: hidden;
}
.post_images{
    width: 100%;
    border-radius: 5px;
    object-fit: contain;
}
.overflow{
    overflow: hidden;
}

.post_img_h{
    width: 100%;
    min-height: 200px;
    max-height: 200px;
    object-fit: cover;
}

.log-out-btn{
    background-color: #fffdfd00;
    outline: none;
    border: none;
    /* border-radius: 2px; */
}

.w-72{
    height: 72px;
    max-width: 72px;
    max-height: 72px;
}

.description-post{
    text-align: justify;
    text-justify: inter-word;
}

.description-post ul li{
    list-style: circle;
  
}
.description-post ol li{
    list-style: decimal;
  
}
.hide{display: none;}

.flex____{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.share_icon{
    background-color: var(--secondary_color);
    padding: 10px;
    font-size: larger;
    border-radius: 3px;
    color: white;
}
.flex_data{display: flex;}
.blog_right_sidebar .single_sidebar_widget{padding: 0px;}
.comments-area{margin: 0px;}
.comment-form{margin: 0px;}

@media screen and (max-width: 1000px) {
    .category_manu{
        display: none;
    }
    .latest_news{
        text-align: center;
    }
    .hide_800{
        display: none;
    }
    .recent_p_h{
        font-weight: 900;
    }
    /* .side_post_img{width: 100%; height: 150px;} */
}